.metadata-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 20px;
}

.metadata-form-grp3 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 20px;
}

.metadata-name {
  color: #1a3b5d;
  text-align: left;
  grid-area: name;
}

.metadata-label {
  font-size: 14px;
  margin-bottom: 5px;
  margin-left: 5px;
  margin-top: 5px;
  text-align: left;
  font-weight: 500;
  color: #1a3b5d;
  width: 100%;
  display: block;
  user-select: none;
}

.metadata-label-checkbox {
  font-size: 14px;
  margin-bottom: 5px;
  margin-left: 90px;
  margin-top: 5px;
  text-align: left;
  font-weight: 500;
  color: #1a3b5d;
  width: 100%;
  display: block;
  user-select: none;
}

input#start_date, input#end_date {
    width: 50%;
}

textarea + .metadata-label {
    margin-top: 0px;
}

.metadata-section-title {
  font-size: 18px;
  margin-bottom: 20px;
  margin-left: 5px;
  margin-top: 20px;
  text-align: left;
  font-weight: 500;
  color: #1a3b5d;
  width: 100%;
  display: block;
  user-select: none;
}

.metadata-input {
  margin-bottom: 20px;
  text-align: left;
}

.metadata-input-textarea {
  width: 100%;
  border: 1px solid #ced6e0;
  transition: all 0.3s ease-in-out;
  font-size: 18px;
  padding: 5px 15px;
  background: none;
  color: #1a3b5d;
  font-family: Source Sans Pro, sans-serif;
  box-sizing: border-box;
}

.ast-important {
  color: #e81f76;
  font-weight: bold;
}

.metadata-input__input {
  width: 100%;
  height: 40px;
  border-radius: 5px;
  box-shadow: none;
  border: 1px solid #ced6e0;
  transition: all 0.3s ease-in-out;
  font-size: 18px;
  padding: 5px 15px;
  background: none;
  color: #1a3b5d;
  font-family: "Source Sans Pro", sans-serif;
  box-sizing: border-box;
  margin-top: 0.25em;
}

.metadata-input__textarea {
  width: 100%;
  border-radius: 5px;
  box-shadow: none;
  border: 1px solid #ced6e0;
  transition: all 0.3s ease-in-out;
  font-size: 18px;
  padding: 5px 15px;
  background: none;
  color: #1a3b5d;
  font-family: "Source Sans Pro", sans-serif;
}

.btn {
  margin-top: 17px;
  border-radius: 5px;
  padding: 10px;
  width: 50%;
  height: 45px;
  font-size: 1.2rem;
  color: #fff;
  background-color: #00a7e1;
  outline: none;
  border: none;
  cursor: pointer;
  box-shadow: 0 4px 11px 3px rgba(18, 22, 33, 0.05);
}

.btn:disabled {
  background: #e3e9ed !important;
  cursor: default;
}

.btn:hover {
  background-color: #009ace;
}

.tooltip {
  position: relative;
  display: inline-block;
  width: 100%;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
  font-size: 18px;
  background: none;
  color: #1a3b5d;
  box-sizing: border-box;
  margin-bottom: 0.2em;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 200px;
  background-color: #555;
  color: #fff;
  border-radius: 6px;
  padding: 5px;
  bottom: 125%;
  opacity: 0;
  margin-bottom: 10px;
  transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
