body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.MuiTable-root {
  margin-top: 1em;
}

.App {
  text-align: center;
  min-height: 100vh;
  color: #222;
}

.upload-wrapper {
  width: 100%;
  min-width: 360px;
  margin: 0 auto;
  background-color: #fff;
  padding: 32px 32px;
  border-radius: 12px;
  min-height: 60%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto 300px auto auto;
  grid-template-areas:
    "header header"
    "uploadArea uploadArea"
    "editArea editArea";
  row-gap: 20px;
  column-gap: 20px;
}

.errorMsg {
  color: #c70e00;
  font-weight: 10;
}

.upload-header {
  grid-area: header;
  border-bottom: 1px solid #e3ebff;
  margin-bottom: 10px;
}

.upload-header__title_h1 {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 35px;
  line-height: 56px;
  color: #1d3557;
}

.upload-header__title_h2 {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  color: #1d3557;
}

.upload-area {
  grid-area: uploadArea;
  display: grid;
  grid-template-columns: 40% auto;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "drop info";
  align-items: center;
}

.upload-area__info {
  grid-area: info;
  padding-top: 20px;
}

.upload-list {
  padding: 0;
}

.list-item {
  display: flex;
}

.upload-list-item {
  margin: 0 auto;
  background-color: #fff;
  padding: 8px 24px;
  list-style: none;
  max-width: 480px;
  width: 85%;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  color: #222;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 4px 11px 3px rgba(18, 22, 33, 0.05);
}

.upload-file-name {
  max-width: 19ch;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #3f4656;
}

.upload-file-size {
  text-align: left;
  font-size: 0.75rem;
  color: lightslategrey;
}

.upload-message {
  color: #3f4656;
}

.upload-switcher {
  grid-area: switcher;
}

.upload-edit-area {
  margin-top: -350px;
  grid-area: editArea;
}

.btn {
  max-width: 220px;
  margin: 2rem;
  border-radius: 5px;
  padding: 10px 25px;
  height: 45px;
  font-size: 1.2rem;
  color: #fff;
  background-color: #00a7e1;
  outline: none;
  border: none;
  cursor: pointer;
  box-shadow: 0 4px 11px 3px rgba(18, 22, 33, 0.05);
}

.btn:disabled {
  background: #e3e9ed !important;
  cursor: default;
}

.btn:hover {
  background-color: #009ace;
}

.btn-delete {
  margin: 2rem;
  border-radius: 5px;
  padding: 10px 25px;
  height: 45px;
  font-size: 1.2rem;
  color: #fff;
  outline: none;
  border: none;
  cursor: pointer;
  box-shadow: 0 4px 11px 3px rgba(18, 22, 33, 0.05);
  background-color: #f11301;
}

.btn-save {
  margin: 2rem;
  border-radius: 5px;
  padding: 10px 25px;
  height: 45px;
  min-width: 230px;
  font-size: 1.2rem;
  font-weight: bold;
  outline: none;
  border: none;
  cursor: pointer;
  box-shadow: 0 4px 11px 3px rgba(18, 22, 33, 0.05);
  background: #badf93;
  border-radius: 4px;
}

.btn-download {
  margin: 2rem;
  border-radius: 5px;
  padding: 10px 25px;
  height: 45px;
  min-width: 230px;
  font-size: 1.2rem;
  font-weight: bold;
  outline: none;
  border: none;
  cursor: pointer;
  box-shadow: 0 4px 11px 3px rgba(18, 22, 33, 0.05);
  background: #ff5100;
  border-radius: 4px;
  color: #ffffff;
}

.btn-delete :disabled {
  background: #e3e9ed !important;
  cursor: default;
}

.btn-delete:hover {
  background-color: #c70e00;
}

.resource-edit-actions {
  display: flex;
  justify-content: center;
  margin-bottom: 2em;
}
.app-form-field {
  margin-bottom: 20px;
}
.app-form-field-label {
  font-size: 14px;
  margin-bottom: 5px;
  margin-left: 5px;
  text-align: left;
  font-weight: 500;
  color: #1a3b5d;
  width: 100%;
  display: block;
  -webkit-user-select: none;
  user-select: none;
}
.app-form-field-input {
  width: 100%;
  height: 40px;
  border-radius: 5px;
  box-shadow: none;
  border: 1px solid #ced6e0;
  transition: all 0.3s ease-in-out;
  font-size: 18px;
  padding: 5px 15px;
  background: none;
  color: #1a3b5d;
  font-family: "Source Sans Pro", sans-serif;
  box-sizing: border-box;
}
.app-form-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 20px;
}
.app-divider {
  border-top: 4px solid #f3f3f3;
  padding-top: 15px;
  margin-top: 30px;
}

.Img {
  margin: 0 25% 0 25%;
}

.upload-area__url {
  text-align: left;
  width: 95%;
  margin: 0 auto;
}

.upload-area__url__label {
  display: block;
  padding: 4px;
}

.upload-area__url__input {
  width: 100%;
  height: 40px;
  border-radius: 5px;
  box-shadow: none;
  border: 1px solid #ced6e0;
  transition: all 0.3s ease-in-out;
  font-size: 18px;
  padding: 5px 15px;
  background: none;
  color: #1a3b5d;
  font-family: "Source Sans Pro", sans-serif;
  box-sizing: border-box;
  font-size: 1rem;
}
